@font-face {
    font-family: regFont;
    src: url(Brandon_reg.otf);
}

@font-face {
    font-family: thinFont;
    src: url(Brandon_thin.otf);
}

@font-face {
    font-family: lightFont;
    src: url(Brandon_light.otf);
}

* {
    font-family: regFont;
}

body {
    background-color: #FCFCFC;
    min-width: 500px;
}

.navbar {
    background-color: #303030;
}

.navbar-fixed-top.opaque { 
    background-color: rgba(48,48,48,0.3);
    transition: background-color 3s ease 0s;
}

.header, .header1 {
    color: white;
    margin: 15px 0;
    display: inline;
}

.head{
    margin-top: 5px;
}

.header {
    font-family: thinFont;
}

#footer {
    bottom: 0;
    width: 100%;
    text-align: center;
}

#main {
    margin-top: 50px;
    padding: 0 40px;
}

.albumImg {
    width: 100%;
    padding: 6px 0;
}

blockquote {
    margin-bottom: 0;
}

.categories {
    padding-top: 20px;
    text-align: center;
}

.btn {
    margin: 0 30px 10px 0;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    border-radius: 0;
}

.btn:last-child {
    margin-right: 0;
}

.btn:hover {
    color: white;
    background-color: #303030
}

.btn:focus, .btn:active:focus {
    outline: none;
    outline-offset: 0;
}

#cities {
    margin-top: 0;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 6px;
    padding-left: 6px;
}

.container-fluid {
    padding-right: 6px;
    padding-left: 6px;
}

.row {
    margin-right: -6px;
    margin-left: -6px;
}

#catHead {
    display: none;
    padding-top: 10px;
}

.btn.lightBtn {
    background-color: rgba(255,255,255, 0.7);
    color: black;
    border: none;
}

.btn.lightBtn:hover {
    background-color: rgba(0,0,0, 0.7);
    color: white;
    border: none;
    cursor: pointer;
}

a img:hover {
    cursor: pointer;
    opacity: 0.5;
}